:root {
    /* font-family: sans-serif; */
    font-family: serif;
}

h1, h2 {
    /* .cactus-classical-serif-regular { */
        font-family: "Cactus Classical Serif", serif;
        font-weight: 400;
        font-style: normal;
    /* } */
} 

p { font-family: "Delius", serif; }

.delius-regular {
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
  }

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
  }
