:root {
  font-family: sans-serif;
  --padding: 0;
  --primary-color: #e4b7e5;
  --secondary-color: #b288c0;
  --accent1-color: #baa2cd;
  --accent2-color: #501775;
  --max-overall-width: 1200px;
}

* {
  color: #63458a;
}

.hero {
  display: block;
  background-color: antiquewhite;
  text-align: center;
}

.hero img {
  max-width: 100px;
}

h1,
h2,
h3,
h4 {
  font-family: "Cactus Classical Serif", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 90px 1fr;
  border-bottom: 2px solid #aaa;
  padding: 2px;
  max-width: var(--max-overall-width);
  background-color: var(--secondary-color);
}

div {
  border-color: var(--accent-color);
  border-width: 3px;
  background-color: var(--secondary-color);
  max-width: var(--max-overall-width);
  padding: 5px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 20px;
  list-style: none;
  border-color: #63458a;
  background-color: var(--secondary-color);
  flex-direction: row;
  align-items: center;

}

.navigation li {
  flex: 1 1 auto;
  text-decoration: none;
  ;
}

.navigation a {
  display: flex;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  font-size: 1.2rem;
  border-color: var(--accent2-color)
}

.navigation a:hover {
  color: rgb(249, 212, 241);
  font-weight: 500;
  text-decoration: underline;
  background-color: var(--accent-color);
}

p {
  font-family: "Delius", serif;
}

.img_medium {
  height: 55px;
  float: right;
}

.colums-3 {
  grid-column: 1/5;
}

.colums-3 img {
  position: relative;
  align-items: center;
}

.colums-5 {
  grid-column: 1/6;
}

.history {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.history img {
  height: 85px;
  width: auto;
}

.adventure {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.adventure img {
  width: 100px;
  height: auto;
  padding: 0px;
  display: block;
}

.adventure figure {
  float: right;
  width: 40%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5rem;
  padding: 0;
}

.input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=text], select, textarea {
  width: 80%;
  max-width: 500px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.bio {
  display: flex;
  justify-content: center;

  width: 80%;
  background-color: antiquewhite;
}

.bio1 {
  display: flex;
  justify-content: left;
  background-color: antiquewhite;
}
.bio div {
  background-color: antiquewhite;
}

.bio figure {
  justify-content: center;
}
.radio {
  display: grid;
  grid-template-columns: 1fr 9fr;
  background-color: antiquewhite;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.radio label {
  padding: 0;
  justify-self: unset;
  align-items: center;
  justify-items: center;
}
.contact form {
  display: flex;
  background-color: antiquewhite;
  flex-flow: column;
  max-width: 50%;
  align-items: flex-start;
  padding: 2rem;
  justify-content: center;
}

.map {
  display: flex;
  flex-direction: column;
}
.map iframe {
  width: 400px;
  height: 300px;
  border: 0;
}

.form label {
  align-items: center;
  justify-content: center;
}

.contact figure {
  /* border: thin #c0c0c0 solid; */
  display: flex;
  flex-flow: column;
  padding: 15px;
  max-width: 120px;
  margin: auto;
}

.contact img {
  max-width: 120px;
  max-height: 250px;
}

.contact figcaption {
  background-color: #525;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.moqups a {
  font-size: 25px;
  font-weight: bolder;
}

footer {
  /* border: 1px solid #444; */
  font-size: small;
}

footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* footer img {
  gap: 12px;
  max-width:  15px;
  max-height: 15px;
} */

.row_me img {
  display: flex;
  border: none;
  flex-direction: row;
  align-items: center; 
  gap: 12px;
  max-width: 15px;
  max-height: 15px;
}

/* .row_me div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width:max-content;
  padding: auto;
} */

.delius-regular {
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}