:root {
    --padding: 1rem;
    --color: rgb(21, 21, 141);
    --font-size: 16px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--padding);
    background-color: #cef;
    color: var(--color);
    text-align: center;
    font-size: var(--font-size);
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--color)
}

main {
    max-width: 840px;
}

main img {
    width: 250px;
    height: auto;
    border: 12px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 10px solid #000;
    text-align: center;
}